<div class="main-title">
  <div class="object">
    <h3>¿Qu&eacute; es gobierno abierto?</h3>
    <p>Gobierno Abierto es una iniciativa gubernamental que surge del compromiso firmado por varios países para que la 
    administración pública abra sus puertas a la población en todos los niveles posibles, fomentando el acceso a la información, la transparencia y la participación ciudadana.</p>
    <p>En respuesta a este compromiso y a la política de transparencia y acceso a la información pública de la gestión del Presidente Mauricio Funes, la Secretaría para Asuntos Estratégicos a través de la Subsecretaría de Transparencia y Anticorrupción ha creado el portal Gobierno Abierto, en donde podrá encontrar información pública de utilidad y podrá participar activamente.</p>
  </div>
</div>    

