<div class="form-wrapper">
  <form action="" method="post" id="contact_message" class="form-horizontal">
    <div class="form-group">
      <input type="text" class="form-control" id="name" name="contact_message[name]" placeholder="Nombre Completo">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="phone" name="contact_message[phone]" placeholder="Tel&eacute;fono">
    </div>
    <div class="form-group">
      <input type="email" class="form-control" id="email" name="contact_message[email]" placeholder="Correo Electr&oacute;nico">
    </div>
    <div class="form-group">
      <textarea class="form-control" id="message" name="contact_message[message]" placeholder="Comentario"></textarea>
    </div>
    <div class="center">
      <input id="submit-form" class="btn btn-submit" type="submit" value="Enviar">
    </div>
  </form>
</div>