<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<div id="content">
  <div class="item">
    <a href="gas_station_list.html" class="item-picture" id="search_routes">
      <div class="item-image">
        <img src="img/icons/icon-route-save.png" />
      </div>
      <p>
        <span>Ruta del Ahorro</span><br>
        Consulte los precios de los combustibles m&aacute;s baratos en tiempo real.
      </p>
      <div class="item-action"></div>
      <div class="clear"></div>
    </a>
  </div>
  <div class="item">
    <a href="info_request.html" class="item-picture load-spin">
      <div class="item-image">
        <img src="img/icons/icon-get-info.png" />
      </div>
      <p>
        <span>Solicitud de Informaci&oacute;n</span><br>
        Solicite informaci&oacute;n p&uacute;blica de distintas instituciones.
      </p>
      <div class="item-action"></div>
      <div class="clear"></div>
    </a>
  </div>
  <div class="item">
    <a href="vehicle_denouncement.html" class="item-picture load-spin">
      <div class="item-image">
        <img src="img/icons/icon-denouncement-vehicle.png" />
      </div>
      <p>
        <span>Denuncia de carros Nacionales</span><br>
        Denuncie carros nacionales en presunto mal uso.
      </p>
      <div class="item-action"></div>
      <div class="clear"></div>
    </a>
  </div>
  <!--<div class="item">
    <a href="gas_station_detail.html" class="item-picture load-spin">
      <div class="item-image">
        <img src="img/icons/icon-denouncement-services.png" />
      </div>
      <p>
        <span>Quejas de servicios p&uacute;blicos</span><br>
        Env&iacute;e quejas de servicios o avisos de corrupci&oacute;n
      </p>
      <div class="item-action"></div>
      <div class="clear"></div>
    </a>
  </div>-->
  <div class="item">
    <a href="#" onclick="window.open('http://infoutil.gobiernoabierto.gob.sv','_system','location=yes');return false;" class="item-picture">
      <div class="item-image">
        <img src="img/icons/icon-get-public-info.png" />
      </div>
      <p>
        <span>Informaci&oacute;n p&uacute;blica</span><br>
        Consulte informaci&oacute;n p&uacute;blica sobre viajes, salarios, contrataciones, entre otras.
      </p>
      <div class="item-action"></div>
      <div class="clear"></div>
    </a>
  </div>
  <footer class="footer">
    <span class="fbold">Secretaría de Participación Ciudadana, Transparencia y Anticorrupción de la Presidencia</span><br>
    Gobierno de El Salvador <br>
    <a class="flink" onclick="window.open('http://www.gobiernoabierto.gob.sv','_system','location=yes');return false;" href="#">www.gobiernoabierto.gob.sv</a><br>
    <a class="flink" onclick="window.open('https://twitter.com/GobAbiertoSV','_system','location=yes');return false;" href="#">@GobAbiertoSV</a> | Tel. +(503) 2133-7500<br>
    <a class="flink" href="contact.html">Contáctanos</a>
  </footer>
</div>