<div class="form-wrapper">
  <form id="settings-form" class="form-horizontal">
    <legend class="form-description" id="s1">
      Configuraci&oacute;n
    </legend>
    <div class="form-group">
      <select name="route_fuel_kind" id="fuel" class="form-control input-xlarge">
        <option value="">-- Tipo de combustible --</option>
        <option value="DO">Diesel</option>
        <option value="GR">Regular</option>
        <option value="GS">Especial</option>
      </select>
    </div>
    <div class="form-group">
      <select name="route_distance" id="distance" class="form-control input-xlarge">
        <option value="">-- Kms. a la redonda --</option>
        <option value="1">1Km</option>
        <option value="2">2Kms</option>
        <option value="3">3Kms</option>
      </select>
    </div>
    <div class="center">
      <input type="submit" class="btn btn-submit" id="submit-form" value="Aceptar">
    </div>
  </form>
</div>